.linkDesign {
    height: 2em;
    width: 5em;

    margin: .1em;

    color: black;
    font-weight: bold;

    text-shadow: .3em .3em .2em rgba(80, 80, 80, 0.356);

    border-radius: .4em;

    display: inherit;
    justify-content: center;
    align-items: inherit;

    transform: translateY(1.3em);
    transition: 0.5s;

    &:hover {
        cursor: pointer;
        transition: 0.5s;
        transform: translateY(.9em);

        text-shadow: .3em .76em .2em rgba(80, 80, 80, 0.144);
    }
}