.inputDesign {
  height: 1.5em;
  width: 15em;

  border: .1em solid black;
  border-radius: .4em;
  margin: .2em;
  transition: .1s;


  box-shadow: .3em .3em .2em rgba(80, 80, 80, 0.356);
}

.textError {
  width: 15em;
  color: rgb(153, 0, 0);
}