.inputDesign {
  height: 2em;
  width: 15em;

  border: .1em solid black;
  border-radius: .4em;
  margin: .7em;
  transition: .1s;


  box-shadow: .3em .3em .2em rgba(80, 80, 80, 0.356);
}

.credentialsError{
  color:rgb(153, 0, 0)
}