.homeDesign {
    height: 80vh;
    width: 100vw;

    background-color: bisque;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.title{
    height: 5em;
    width: 30vw;

    background-color:  rgba(162, 163, 132, 0.171);

    border-radius: 1em;
    box-shadow: inset 0px 1px 2px 1px black;

    margin: 2em;

    font-size: larger;
    color:black;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
 


    border-radius: 1em;

    margin: 2em;

    color:black;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}