.homeDesign {
    height: 70vh;
    width: 100vw;

    background-color: bisque;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.title{
    height: 5em;
    width: 30vw;

    background-color: rgb(111, 165, 25);

    border-radius: 1em;

    margin: 2em;

    font-size: larger;
    color:black;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    height: 5em;
    width: 30vw;

    background-color: rgb(163, 192, 116);

    border-radius: 1em;

    margin: 2em;

    color:black;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}